@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue-background: #06b6d4;
    --gray-1: #fafaf9;
    --gray-2: #e7e5e4;
    --gray-3: #292524;
    --gray-4: #1c1917;
    --gray-m: #78716c;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
}

.sidebar {
    grid-row: 1 / span 2;
    background-color: var(--blue-background);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar-top {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
}

.logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(103%) contrast(102%);
}

.dashboard-logo {
    width: 40px;
}

.dashboard-text {
    font-size: 32px;
    font-weight: bold;
}

.sidebar-middle {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
}

.sidebar-logo {
    width: 26px;
    justify-self: center;
}

.menu-text {
    font-size: 20px;
    font-weight: bold;
}

.sidebar-bottom {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
}

.header {
    background-color: var(--gray-1);
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

.header-logo {
    width: 30px;
}

.profile-picture-small {
    width: 50px;
}

.profile-picture-big {
    width: 75px;
}

.search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.search-input input {
    width: 75%;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: var(--gray-2);
    padding-left: 10px;
}

.header-name-small {
    font-size: 20px;
    font-weight: bold;
}

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.welcome {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.welcome-text p {
    margin: 0;
    padding: 0;
}

.welcome-small {
    font-size: 15px;
}

.welcome-big {
    font-size: 24px;
}

.top-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
}

.button {
    background-color: var(--blue-background);
    color: white;
    padding: 10px 25px;
    border: 0px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
}

.main-content {
    background-color: var(--gray-2);
    padding: 25px 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-row: 1 / span 2;
}

.main-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-right: 50px;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border-left: 10px solid var(--blue-background);
}

.card-title {
    font-size: 18px;
    margin: 0;
}

.card-description {
    color: var(--gray-m);
    font-weight: bold;
}

.card-button-section {
    align-self: flex-end;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card-button {
    cursor: pointer;
    height: 25px;
}

.ann-content {
    background-color: white;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
}

.announcements ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ann-title {
    margin: 0;
    padding-top: 20px;
    font-size: 16px;
}

.ann-item + .ann-item {
    border-top: solid 2px var(--gray-2);
}

.ann-details {
    color: var(--gray-m);
}

.trending {
    margin-top: 20px;
}

.trending-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.trending-item {
    display: flex;
    gap: 25px;
}

.trending-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-name p {
    margin: 0;
}

.username {
    font-size: 16px;
    font-weight: bold;
}

.full-name {
    color: var(--gray-m);
}