@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue-background: #06b6d4;
    --gray-1: #fafaf9;
    --gray-2: #e7e5e4;
    --gray-3: #292524;
    --gray-4: #1c1917;
    --gray-m: #78716c;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
}

.sidebar {
    grid-row: 1 / span 2;
    background-color: var(--blue-background);
    padding: 25px 10px 300px 20px;
    color: white;
    display: grid;
    gap: 50px;
}

.sidebar-top {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
}

.logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(103%) contrast(102%);
}

.dashboard-logo {
    width: 40px;
}

.dashboard-text {
    font-size: 32px;
    font-weight: bold;
}

.sidebar-middle {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
}

.sidebar-logo {
    width: 26px;
    justify-self: center;
}

.menu-text {
    font-size: 20px;
    font-weight: bold;
}

.sidebar-bottom {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
}

.header {
    background-color: var(--gray-1);
    padding: 25px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

.header-logo {
    width: 30px;
}

.profile-picture-small {
    width: 50px;
}

.profile-picture-big {
    width: 75px;
}

.search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.search-input input {
    width: 75%;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: var(--gray-2);
    padding-left: 10px;
}

.header-name-small {
    font-size: 20px;
    font-weight: bold;
}

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.welcome {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.welcome-text p {
    margin: 0;
    padding: 0;
}

.welcome-small {
    font-size: 15px;
}

.welcome-big {
    font-size: 24px;
}

.top-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
}

.button {
    background-color: var(--blue-background);
    color: white;
    padding: 10px 25px;
    border: 0px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
}

.main-content {
    background-color: var(--gray-2);
    padding: 25px 50px;
}